CREATE OR REPLACE FUNCTION get_full_finance_report() RETURNS json AS $$ DECLARE result json; nedelja_record record; mesec_record record; godina_record record; prosla_record record; troskovi_po_tipu json; BEGIN -- Current week SELECT COALESCE(SUM(vl.cena), 0) as prihod, COUNT(*) as voznje INTO nedelja_record FROM voznje_log vl WHERE vl.datum >= date_trunc(
\week\', CURRENT_DATE) AND vl.datum < date_trunc(\week\', CURRENT_DATE) + INTERVAL \7
days\'; -- Current month SELECT COALESCE(SUM(vl.cena), 0) as prihod, COUNT(*) as voznje INTO mesec_record FROM voznje_log vl WHERE EXTRACT(YEAR FROM vl.datum) = EXTRACT(YEAR FROM CURRENT_DATE) AND EXTRACT(MONTH FROM vl.datum) = EXTRACT(MONTH FROM CURRENT_DATE); -- Current year SELECT COALESCE(SUM(vl.cena), 0) as prihod, COUNT(*) as voznje INTO godina_record FROM voznje_log vl WHERE EXTRACT(YEAR FROM vl.datum) = EXTRACT(YEAR FROM CURRENT_DATE); -- Previous year SELECT COALESCE(SUM(vl.cena), 0) as prihod, COUNT(*) as voznje INTO prosla_record FROM voznje_log vl WHERE EXTRACT(YEAR FROM vl.datum) = EXTRACT(YEAR FROM CURRENT_DATE) - 1; -- Expenses by type SELECT json_object_agg(tip, COALESCE(SUM(iznos), 0)) INTO troskovi_po_tipu FROM finansije_troskovi WHERE aktivan = true; -- Build result SELECT json_build_object( \nedelja\', json_build_object( \prihod\', nedelja_record.prihod, \troskovi\', 0, \voznje\', nedelja_record.voznje ), \mesec\', json_build_object( \prihod\', mesec_record.prihod, \troskovi\', 0, \voznje\', mesec_record.voznje ), \godina\', json_build_object( \prihod\', godina_record.prihod, \troskovi\', 0, \voznje\', godina_record.voznje ), \prosla\', json_build_object( \prihod\', prosla_record.prihod, \troskovi\', 0, \voznje\', prosla_record.voznje ), \troskovi_po_tipu\', COALESCE(troskovi_po_tipu, \

\'::json) ) INTO result; RETURN result; END; $$ LANGUAGE plpgsql;
